* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: playfair Display, sans-serif;
}

body {
  background-image: url('img/image_geometry_1.svg');
  background-repeat: no-repeat;
}
.top-menu{
  width: 35vw;
  height: 22vh;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-left: 750px;
  

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }



  .top-ctn{
    flex-direction: column;
    align-items: flex-start;
    background-image: url('img/main.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-1 {
  display: flex;
  flex-direction: column;

}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.heading-1 {
  color: #1a2236;
  font-size: 65px;
  margin-top: 49px;
  margin-left: 16px;
  margin-right: 84px;
  padding: 0;
  position:relative;
  font-family: sans-serif, poppins;
  font-style: normal;
  font-weight: normal;
}

.par-1 {
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  margin-right: 30px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.button-1 {
  display: flex;
  justify-content: center;
  background-color: #1a2236;
  color: white;
  padding: 20px;
  width: 90%;
  margin: 30px auto;
}

.button-1:hover {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.button-1:active {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.sec-icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.fab {
  padding: 10px;
  height: 100%;
}

.image {
  margin-bottom: 0;
  width: 100%;
  height: auto;
}

.section-2 {
  margin-top: 0;
  margin-bottom: -6px;
}

.projects-card {
  list-style: none;
  display: flex;
  justify-content: start;
  margin-left: 16px;
}

.projects-heading-2 {
  margin-left: 16px;
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 16px;
  font-size: 20px;
  padding: 26px 0;
}

.projects-img {
  width: 100%;
  height: auto;
  margin-top: -2px;
}

.project-button {
  margin-left: 16px;
  margin-top: 15px;
  margin-right: 30px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #1a2236;
  border: 2px solid white;
}

.project-button:hover {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.project-button:active {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.list-btn {
  color: #1a2236;
  background-color: #98dede;
  font-size: 10.33px;
  margin-right: 10px;
  border: none;
  padding: 5px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
}

.project-card-background {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  background-color: #1a2236;
  padding-bottom: 20px;
  padding-top: 0%;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-par {
  margin-left: 16px;
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
}

.cv-btn {
  margin: 20px auto;
  width: 85%;
  background-color: #1a2236;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.cv-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.cv-btn:active {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.lang {
  background-image: url('img/languages.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding-bottom: 30px;
}

.lang h2 {
  margin: 50px 120px 0 50px;
}

.list {
  margin: 21px 61px 53px 60px;
}

.frameworks {
  background-image: url('img/frameworks.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding-bottom: 30px;
}

.frameworks h2 {
  margin: 50px 120px 0 50px;
}

.list-list {
  margin: 10px;
}

.skills {
  background-image: url('img/languages.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding-bottom: 30px;
}

.skills h2 {
  margin: 50px 120px 0 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f9f9fa;
  background-image: url('img/image_geometry_1.svg');
  background-repeat: no-repeat;
}

.form-container {
  justify-content: center;
}

.contact-heading {
  padding: 30px 0;
  margin-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 18px;
  margin-right: 14px;
}

.text-area {
  height: 20vh;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 288px;
}

.input-field {
  width: 288px;
  margin: 10px 0;
  height: 42px;
  padding: 5px;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
}

.contact-button {
  background-color: #1a2236;
  color: white;
  width: 288px;
}

.footer-btn {
  color: #92dcdc;
  margin-left: 16px;
  margin-top: 10px;
  display: flex;
  justify-content: start;
}

.footer-img {
  margin-left: 10px;
  margin-top: 3px;
}

.footer {
  margin-top: 70px;
  background-color: #1a2236;

  /* padding: 30px; */
  height: 90px;
}

.icons {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 14px 14px 14px;
}

@media (min-width: 992px){


  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: playfair Display, sans-serif;
  }
  
  body {
    background-image: url('img/image_geometry_1.svg');
    background-repeat: no-repeat;
  }
  
  .section-1 {
    display: none;
  }  


  .hamburger .fa-bars {
    display: none;
  }
  .heading-1 {
    color: #1a2236;
    font-size: 50px;
    margin-top: 49px;
    margin-left: 16px;
    margin-right: 84px;
    padding: 0;
  }
  
  .par-1 {
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }
  
  .button-1 {
    display: flex;
    justify-content: center;
    background-color: #1a2236;
    color: white;
    padding: 20px;
    width: 90%;
    margin: 30px auto;
  }
  
  .button-1:hover {
    cursor: pointer;
    background-color: white;
    color: #1a2236;
  }
  
  .button-1:active {
    cursor: pointer;
    background-color: white;
    color: #1a2236;
  }
  
  .sec-icons {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .fab {
    padding: 10px;
    height: 100%;
  }
  
  /* .image {
    margin-bottom: 0;
    width: 100%;
    height: auto;
  }
   */
  .section-2 {
    margin-top: 0;
    margin-bottom: -6px;
  }
  
  .projects-card {
    list-style: none;
    display: flex;
    justify-content: start;
    margin-left: 16px;
  }
  
  .projects-heading-2 {
    margin-left: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 16px;
    font-size: 20px;
    padding: 26px 0;
  }
  
  .projects-img {
    width: 100%;
    height: auto;
    margin-top: -2px;
  }
  
  .project-button {
    margin-left: 16px;
    margin-top: 15px;
    margin-right: 30px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #1a2236;
    border: 2px solid white;
  }
  
  .project-button:hover {
    cursor: pointer;
    background-color: white;
    color: #1a2236;
  }
  
  .project-button:active {
    cursor: pointer;
    background-color: white;
    color: #1a2236;
  }
  
  .list-btn {
    color: #1a2236;
    background-color: #98dede;
    font-size: 10.33px;
    margin-right: 10px;
    border: none;
    padding: 5px;
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
  }
  
  .project-card-background {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    background-color: #1a2236;
    padding-bottom: 20px;
    padding-top: 0%;
  }
  
  .about {
    display: flex;
    flex-direction: column;
  }
  
  .about-par {
    margin-left: 16px;
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .cv-btn {
    margin: 20px auto;
    width: 85%;
    background-color: #1a2236;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .cv-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #1a2236;
  }
  
  .cv-btn:active {
    cursor: pointer;
    background-color: white;
    color: #1a2236;
  }
  
  .lang {
    background-image: url('img/languages.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: #fff;
    font-family: Poppins, sans-serif;
    padding-bottom: 30px;
  }
  
  .lang h2 {
    margin: 50px 120px 0 50px;
  }
  
  .list {
    margin: 21px 61px 53px 60px;
  }
  
  .frameworks {
    background-image: url('img/frameworks.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #fff;
    font-family: Poppins, sans-serif;
    padding-bottom: 30px;
  }
  
  .frameworks h2 {
    margin: 50px 120px 0 50px;
  }
  
  .list-list {
    margin: 10px;
  }
  
  .skills {
    background-image: url('img/languages.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #fff;
    font-family: Poppins, sans-serif;
    padding-bottom: 30px;
  }
  
  .skills h2 {
    margin: 50px 120px 0 50px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f9f9fa;
    background-image: url('img/image_geometry_1.svg');
    background-repeat: no-repeat;
  }
  
  .form-container {
    justify-content: center;
  }
  
  .contact-heading {
    padding: 30px 0;
    margin-top: 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 18px;
    margin-right: 14px;
  }
  
  .text-area {
    height: 20vh;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 288px;
  }
  
  .input-field {
    width: 288px;
    margin: 10px 0;
    height: 42px;
    padding: 5px;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .contact-button {
    background-color: #1a2236;
    color: white;
    width: 288px;
  }
  
  .footer-btn {
    color: #92dcdc;
    margin-left: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
  }
  
  .footer-img {
    margin-left: 10px;
    margin-top: 3px;
  }
  
  .footer {
    margin-top: 70px;
    background-color: #1a2236;
  
    /* padding: 30px; */
    height: 90px;
  }
  
  .icons {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 14px 14px 14px;
  }
}
