* {
  margin: 0;
  padding: 0;
  font-family: playfair Display, sans-serif;

  /* overflow-x: hidden; */
}

body {
  background-image: url("img/image_geometry_1.svg");
  background-repeat: no-repeat;
}

.section-1 {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.heading-1 {
  color: #1a2236;
  font-size: 50px;
  width: 50%;
  margin-top: 29px;
  margin-left: 16px;
  margin-right: 84px;
}

.par-1 {
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  margin-right: 30px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.button-1 {
  display: flex;
  justify-content: center;
  background-color: #1a2236;
  color: white;
  padding: 20px;
  width: 90%;
  margin: 30px auto;
}

.button-1:hover {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.button-1:active {
  cursor: pointer;
  background-color: white;
  color: #1a2236; 
}

.sec-icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.fab {
  padding: 10px;
  height: 100%;
}

.image {
  margin-bottom: 0;
  width: 100%;
  height: auto;
}

.section-2 {
  margin-top: 0;
  margin-bottom: -6px;
}

.projects-card {
  list-style: none;
  display: flex;
  justify-content: start;
  margin-left: 16px;
}

.projects-heading-2 {
  margin-left: 16px;
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 16px;
  font-size: 20px;
  padding: 26px 0;
}

.projects-img {
  width: 100%;
  height: auto;
  margin-top: -2px;
}

.project-button {
  margin-left: 16px;
  margin-top: 15px;
  margin-right: 30px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #1a2236;
  border: 2px solid white;
}

.project-button:hover {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.project-button:active {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.list-btn {
  color: #1a2236;
  background-color: #98dede;
  font-size: 10.33px;
  margin-right: 10px;
  border: none;
  padding: 5px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
}

.project-card-background {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  background-color: #1a2236;
  padding-bottom: 20px;
  padding-top: 0%;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-par {
  margin-left: 16px;
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
}

.cv-btn {
  margin: 20px auto;
  width: 85%;
  background-color: #1a2236;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.cv-btn {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.cv-btn {
  cursor: pointer;
  background-color: white;
  color: #1a2236;
}

.lang {
  background-image: url("img/languages.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding-bottom: 30px;
}

.lang h2 {
  margin: 50px 120px 0 50px;
}

.list {
  margin: 21px 61px 53px 60px;
}

.frameworks {
  background-image: url("img/frameworks.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding-bottom: 30px;
}

.frameworks h2 {
  margin: 50px 120px 0 50px;
}

.list-list {
  margin: 10px;
}

.skills {
  background-image: url("img/languages.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding-bottom: 30px;
}

.skills h2 {
  margin: 50px 120px 0 50px;
}
