* {
  margin: 0;
  padding: 0;
  font-family: playfair Display, sans-serif;
}

body {
  background-image: url("img/image_geometry_1.svg");
  background-repeat: no-repeat;
}

.section-1 {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.heading-1 {
  color: #1a2236;
  font-size: 50px;
  width: 50%;
  margin-top: 29px;
  margin-left: 16px;
  margin-right: 84px;
}

.par-1 {
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  margin-right: 30px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.button-1 {
  display: flex;
  justify-content: center;
  background-color: #1a2236;
  color: white;
  padding: 20px;
  width: 90%;
  margin: 30px auto;
}

.sec-icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.fab {
  padding: 10px;
  height: 100%;
}
